<body>
  <div class="container">
    <h2>Listado de Pokemones de Tipo Nacional</h2>         
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Imagen</th>
          <th>Detalle</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>bulbasaur</td>
              <td>Imagen de bulbasaur</td>
              <td> 
                <a routerLink="/detalle" redirectTo="/detalle">
                  <button type="button" class="btn btn-primary">Ver</button>
                </a>
              </td>
          </tr>
        </tbody>
    </table>
  </div>
  <router-outlet></router-outlet>
  
  </body>